[submodule "markdown"]
	path = markdown
	url = https://github.com/aubm/postmanerator-markdown-theme.git
[submodule "default"]
	path = default
	url = https://github.com/aubm/postmanerator-default-theme.git
[submodule "hu"]
	path = hu
	url = https://github.com/zanaca/postmanerator-hu-theme.git
